@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  @apply bg-dark text-white bg-bodybg bg-no-repeat;
}

.container {
  @apply mx-auto w-[90%];
}

img {
  user-select: none;
  -webkit-user-drag: none;
  /* color: #d434fe1f; */
  /* color: #903aff1f; */
}
